@import 'sass-bootstrap/lib/bootstrap'

$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

$errorColor: darkorange

form
	@extend .form-group

	label
		display: block
	input
		@extend .form-control
		
	.ValidationLiveSuccess
		border: lightgreen 1px solid

	.requiredFieldLabel
		&:after
			content: ' *'
			color: orange

	.CustomValidationError
		position: relative
		font-size: 0.8em
		color: $errorColor