/*
Error: File to import not found or unreadable: bootstrap-sass-official/assets/stylesheets/bootstrap.
       Load paths:
         
        on line 3 of main.scss

1: $icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";
2: 
3: @import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
4: 
5: .browsehappy {
6:     margin: 0.2em 0;
7:     background: #ccc;
8:     color: #000;

Backtrace:
main.scss:3
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:295:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/exec/base.rb:40:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.1/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sass-official/assets/stylesheets/bootstrap.\A        Load paths:\A          \A         on line 3 of main.scss\A \A 1: $icon-font-path: \"/bower_components/bootstrap-sass-official/assets/fonts/\";\A 2: \A 3: @import 'bootstrap-sass-official/assets/stylesheets/bootstrap';\A 4: \A 5: .browsehappy {\A 6:     margin: 0.2em 0;\A 7:     background: #ccc;\A 8:     color: #000;"; }
